.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color:rgb(254, 250, 250);
}


.texto {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    min-height: 400px;
}

.botones {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}