.inputAutenticar {
  width: 80%;
}

.inputButton {
  margin: 2rem 0rem;
}

@media screen and (max-width: 375px) {
  .inputButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
